<div class="col-md-4">
    <h3 class="text-info">Изучение Node JS</h3>
    <img src="/public/img/node.jpg" alt="Курсы по Node" class="img-thumbnail">
    <div>
      <br>Хотите изучить дополнительные технологии? Тогда заходите на наш сайт, где вы сможете найти еще множество полезных и полноценных уроков по различных технлогям.<br><br>
      <a href="https://itproger.com">
        <button class="btn btn-danger" style="cursor:pointer">Перейти на сайт</button>
      </a>
    </div>
</div>